*{
    margin: 0;
    padding: 0;
}


img {vertical-align: bottom;}
span {font-family: Arial, serif}
h2 {color: #1b6bc7;}
a:hover{background-color: lightslategray}

#navigate{
    width: 100%;
    position: fixed;
    float: left;
    display: inline;
    z-index: 100;
}
#link_home{
    width: 20%; height: 55px;
    background: #242424;
    float: left;
}
.list_nav {display:inline;}
.link_nav{
    width: 16%; height: 35px;
    background: #1b6bc7;
    float: left;
    text-decoration:none;
    color:white;
    text-align: center;
    padding-top: 20px;
}


#tutor{
    position: relative;
    width: 100%; height: 580px;
    z-index: 1;
}
#logo2{
    position: relative;
    height: 100px;
    margin-top: -300px;
    z-index: 2;
}
#logo3{
    width: 850px; height: 250px;
}


#content{
    width: 100%; height: 520px;
    margin-top: 40px;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
#text_left{
    width: 50%; height: 500px;
    border-right: dotted cornflowerblue 2px;
    float: left;
}
#text_right{
    width: 49%; height: 500px;
    float: right;
}
.subtitle{
    width: 50%;
    padding: 10px;
    border-bottom: solid cornflowerblue 2px;
}
.div_text{
    width: 70%;
    padding-top: 30px;
}
.list_text{
    width: 357px; height: 20%;
    padding-top: 30px;
    text-align: left;
}
.span_title{
    color: #1b6bc7;
    font-size: 150%;
}
.span_normal{
    word-wrap:break-word;
    line-height: 1.5em;
}


#map{
    margin-top: 20px;
    width: 100%;
}
#footer{
    width: 100%; height: 100px;
    margin: 0;
    padding: 0;
    background: #242424;
    clear: both;
}